@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: black;
    font-weight: lighter;
}
body {
  background-color: whitesmoke;
}
.main {
  width: auto;
  /* background-color: lightblue; */
  text-align: center;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h1 {
  font-weight: lighter;
  letter-spacing: 2px;
  color: black;
  font-size: 1.2rem;
}
.input{
    box-shadow: 15px 15px 15px black;
    border: 1px solid black;
    border-radius: none;
}

.input:focus{
    outline: none;
}
